@charset 'UTF-8';

@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_global.scss";
@import "./_typography.scss";

/*아이웹 커스텀 클래스*/
body{
 min-width: none !important; 
}
// #headerwarp .header_box{
// background: rgba(255, 255, 255, 0.5) !important;
// }

// i-web custom class
// ===== GNB =====//
/* ---------------- 상단에 붙어있을때 ---------------- */
#gNavi > ul ul li { display: block !important; }

.gNavi>ul{height: 60px !important;}

/* ---------------- 대메뉴 활성화 ---------------- */
#gNavi.gNavi > ul > li:hover > a { color: #1CBCCF !important; }

/* 네비 배경(::before)와 소메뉴에 공통 트랜지션 */
#gNavi.gNavi > ul > li > ul,
#gNavi > ul::before { transition: height 0.3s; }

/* ---------------- 소메뉴 ---------------- */
#gNavi.gNavi > ul > li > ul{
  z-index: -10000;
  height: 0;
  overflow: hidden;
  display: block;
  opacity: 1;
  width: calc(100% + 60px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
/* 소메뉴 상단 여백(대메뉴와 겹침 방지) */
#gNavi.gNavi > ul > li > ul::before{
  content: "";
  display: block;
  height: 50px;
}

/* ---------------- 네비 배경 ---------------- */
#gNavi > ul::before{
  content: "";
  display: block;
  position: absolute;
  left: 0; right: 0;
  top: 0;
  height: 0;
  background-color: rgba(203, 243, 240, 0.5);
  backdrop-filter: blur(5px);
}

/* 펼침(그룹화) */
#gNavi > ul:hover::before { height: 320px !important; }
#gNavi > ul:hover ul,
#gNavi.gNavi > ul > li:hover ul { height: 320px !important; }

/* ---------------- 마지막 항목 보정 ---------------- */
.gNavi > ul > li:last-child { padding-right: 0; }
#gNavi.gNavi > ul > li:last-child ul li { width: 160px; }

/* ---------------- 타이포/색상 ---------------- */
.gNavi ul li { 
  font-size: 17px !important;
}

#gNavi.gNavi>ul>li>ul>li:last-child {
  padding-bottom:20px;
}

/* 대메뉴 */
.gNavi > ul > li > a{
  font-size: 19px !important;
  line-height: 70px !important;
  height: 70px !important;
}

.gNavi > ul > li::nth-of-type(4) > a > ul > li{
  height: unset !important;
}

/* 서브메뉴 항목 */
.gNavi ul ul li{
  background: unset !important;
}
  
/*  스크롤시 상단배경처리 */
#headerwarp.scroll #gNavi > ul:before{
   height:70px;
  }

/* 상단 구분 화이트선 */
#headerwarp:after{
    content:"";
    position:absolute;
    height:1px;
    top:80px;
    left:0;
    background:white;
    width:0;     
}
#headerwarp.bg_change:after{   
   width:100%;
   transition-delay:0.3s;
   transition: width 0.5s;
}

#headersub{
  position:unset !important;
}
  
/* ----------------------- header 에 로그인 넣기 ----------------------- */
#headerwarp .web_logo{
  position:unset !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
#headersub .logoArea{ margin: 0 !important; }
  
#headerwarp .cssmenu{
  float: none !important;
  width: 100% !important;
  justify-content: center;
  display:flex;
  height: auto;
}
#headerwarp .logo{
  float: none !important;
  width:160px;
  height: 50px;
}
#headersub .utilmenu{
  float: none !important;
  height: 37px;
  z-index: 100;
  color: #fff !important;
  width:180px;
  padding: 0 20px;
}
  
.utilmenu .top_txt{
  color:#fff;
}
  
.utilmenu li:nth-child(1){
  padding: 0 20px;
} 
.utilmenu .top_txt:hover{ color: #0094FF; }
  
/* ----------------------- header nav bar color ----------------------- */  
#headerwarp .header_box{
  background:none !important;
  border-bottom: none !important;
  height:70px !important;
  transition:none !important;  
}  
/* ------------------------header logo------------------------ */ 
#headerwarp .logo{
  z-index:100;
}
   
.logoArea.logoTxtArea{
      display:none !important;
}
  
 /* #headersub.subpage  .logoArea:hover,  (얘 넣으면 sub페이지 로고 블루색 호버) */
// #headersub  .logoArea {
//     width:150px;
//     padding:60px;
//     height:70px !important;
// }
// #headersub .logoArea:hover, 
// #headersub.subpage  .logoArea {}


.m_visual {
  height: 0 !important;
  overflow: hidden !important;
} 


#footer1303 #footer{
  background-color: #e6f7f9 !important;
}

.flex-center {@include flex-center;}
.flex-between{@include flex-between;}

.flex-col {
  display: flex;
  flex-direction: column;
}

//장애인 웹접근성용
.blind { @include blind;}

// Utility
.text-muted {color: $colorMuted;}

.bg-primary {
  background-color: $primaryColor !important;
  color: $text-white;
}

.bg-accent {
  background-color: $colorAccent !important;
  color: #000;
}

.border-light {
  border: 1px solid $border-light;
}

.border-dark {
  border: 1px solid $border-dark;
}

.left1 {
  left: 0.5rem;
}
.top1 {
  top: 0.5rem;
}

/* Footer */
#ft {
  background: $basicColor;

  .ft-info-group {
    color:$colorSecondary;

    .info-group-left {
      @include fs-px(12);
      font-weight:$fw300;
    }

    .info-group-right {
      @include fs-px(12);
      font-weight: $fw400;
    }
  }

  .ft-social {
    img {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}

/* Footer font util */
.ft-font-color {
  color:$colorSecondary;
}
