/* 메인에서만 기본은 투명 */
body.main #hd {
  background-color: transparent;
  // transition: background-color 0.3s ease;
}



body.menu-open {
  overflow: hidden;
  height: 100vh;
}

//quick menu

.quick-group {
  position: fixed;
  left: 0px;
  bottom: 10px;
  z-index: 7;
  pointer-events: none;
  transform: translateY(30px);
  transition: 0.5s;
  opacity: 0;

  .quick-area {
    .quick-menu {
      display: flex;
      flex-direction: column;
      gap: 2px;

      li {
        position: relative;
        width: 50px;
        height: 50px;

        a.quick-item {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $primaryColor2;
          border-radius: 10px;
          color: #fff;
          overflow: hidden;
          white-space: nowrap;
          transition: width 0.3s ease;

          .icon {
            width: 24px;
            height: 24px;
            margin: 0 13px;
            flex-shrink: 0;
          }

          .text {
            opacity: 0;
            transform: translateX(10px);
            font-size: 14px;
            padding-right: 12px;
            transition: opacity 0.3s ease, transform 0.3s ease;
          }

          // JS에서 붙여주는 상태
          &.active {
            width: 160px;
            @media(max-width: 991px){
              width: 50px !important;
            }

            .text {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

.quick-group.active {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}


//main section sc-contact
#sc-contact {
  .contact-group {
    padding: clamp(20px, 20px + (40 - 20) * (100vw - 320px) / (1600), 40px);
    .contact-area {
      flex: 1;
    }

    .google-map-area {
      flex: 1;
      iframe {
        height: clamp(250px, 250px + (400 - 250) * (100vw - 320px) / (1600), 400px);
      }
    }
  }
}

//footer

#ft {
  background: #E6F7F9;
  .ft-group {
    .ft-info-group {
      color: $colorSecondary;
      .info-group-left {
        font-size: 14px;
        font-weight: $fw300;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      .info-group-right {
        font-size: 12px;
        font-weight: $fw400;
        text-align: end;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }

    .ft-social img {
        display: block;
        width: 24px;
        height: 24px;
    }
  }
}


.ft-font-color {
    color: $colorSecondary;
}

